registry="http://registry.npmmirror.com" 
ELECTRON_MIRROR="http://npmmirror.com/mirrors/electron/" 
sass_binary_site="http://registry.npm.taobao.org/mirrors/node-sass/"


python=D:\Python27\python.exe